* {
  margin: 0;
  padding: 0;
}
:root {
  --main-color: #4608ad;
}

body {
  width: 100%;
  height: 100vh;
}
#app {
  width: 100%;
  height: 100%;
}

.ant-list-item {
  height: 28px;
  font-size: 12px;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.6) !important;
  padding: 0 12px !important;
  display: flex;
  align-items: center;
  &:hover {
    background: rgba(255, 255, 255, 0.784);
    color: var(--main-color) !important;
    box-sizing: border-box;
  }
}

.item {
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.6) !important;
  padding: 0 12px;
  .item-name {
    margin-right: 12px;
  }
}

.ant-progress-text {
  white-space: pre-wrap;
}

.a-icon {
  color: rgba(0, 0, 0, 0.6) !important;
  font-size: 14px;
}

.hover {
  &:hover {
    color: var(--main-color) !important;
  }
}
